<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.Food">
	
	<select id="selectAll" resultType="food">
		select * from food limit #{first} , 20
	</select>

	<select id="selectCode" resultType="food" parameterType="int">
		select * from food where code=#{code}
	</select>
	
	<select id="selectMaker" resultType="food" parameterType="String">
	 <bind name="pattern" value="'%' + _parameter + '%'" />
		select * from food where maker like #{pattern}
	</select>
	
	<select id="selectMaterial" resultType="food" parameterType="String">
		<bind name="pattern" value="'%' + _parameter + '%'" />
		select * from food where material like #{pattern}
	</select>
	
	<select id="selectName" resultType="food" parameterType="String">
		<bind name="pattern" value="'%' + _parameter + '%'" />
		select * from food where name like #{pattern}
	</select>
	
</mapper>